
\.gradle/4\.1/fileChanges/last-build\.bin

\.gradle/4\.1/fileContent/fileContent\.lock

\.gradle/4\.1/fileHashes/fileHashes\.bin

\.gradle/4\.1/fileHashes/fileHashes\.lock

\.gradle/4\.1/fileHashes/resourceHashesCache\.bin

\.gradle/4\.1/javaCompile/classAnalysis\.bin

\.gradle/4\.1/javaCompile/jarAnalysis\.bin

\.gradle/4\.1/javaCompile/javaCompile\.lock

\.gradle/4\.1/javaCompile/taskHistory\.bin

\.gradle/4\.1/javaCompile/taskJars\.bin

\.gradle/4\.1/taskHistory/fileSnapshots\.bin

\.gradle/4\.1/taskHistory/taskHistory\.bin

\.gradle/4\.1/taskHistory/taskHistory\.lock

\.gradle/buildOutputCleanup/built\.bin

\.gradle/buildOutputCleanup/cache\.properties

\.gradle/buildOutputCleanup/cache\.properties\.lock

\.idea/caches/build_file_checksums\.ser

\.idea/codeStyles/Project\.xml

\.idea/gradle\.xml

\.idea/libraries/Gradle____local_aars____home_alex_Desktop_ms_monetize_sdk_demo_app_libs_Etap_V2_4_8_jar_unspecified_jar\.xml

\.idea/libraries/Gradle____local_aars____home_alex_Desktop_ms_monetize_sdk_demo_app_libs_PingStart_v3_5_1_jar_unspecified_jar\.xml

\.idea/libraries/Gradle__android_arch_core_common_1_0_0_jar\.xml

\.idea/libraries/Gradle__android_arch_lifecycle_common_1_0_0_jar\.xml

\.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_0_0\.xml

\.idea/libraries/Gradle__com_android_support_animated_vector_drawable_26_1_0\.xml

\.idea/libraries/Gradle__com_android_support_appcompat_v7_26_1_0\.xml

\.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_1_1_0\.xml

\.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_solver_1_1_0_jar\.xml

\.idea/libraries/Gradle__com_android_support_support_annotations_26_1_0_jar\.xml

\.idea/libraries/Gradle__com_android_support_support_compat_26_1_0\.xml

\.idea/libraries/Gradle__com_android_support_support_core_ui_26_1_0\.xml

\.idea/libraries/Gradle__com_android_support_support_core_utils_26_1_0\.xml

\.idea/libraries/Gradle__com_android_support_support_fragment_26_1_0\.xml

\.idea/libraries/Gradle__com_android_support_support_media_compat_26_1_0\.xml

\.idea/libraries/Gradle__com_android_support_support_v4_26_1_0\.xml

\.idea/libraries/Gradle__com_android_support_support_vector_drawable_26_1_0\.xml

\.idea/libraries/Gradle__com_google_android_gms_play_services_ads_11_8_0\.xml

\.idea/libraries/Gradle__com_google_android_gms_play_services_ads_license_11_8_0\.xml

\.idea/libraries/Gradle__com_google_android_gms_play_services_ads_lite_11_8_0\.xml

\.idea/libraries/Gradle__com_google_android_gms_play_services_ads_lite_license_11_8_0\.xml

\.idea/libraries/Gradle__com_google_android_gms_play_services_basement_11_8_0\.xml

\.idea/libraries/Gradle__com_google_android_gms_play_services_basement_license_11_8_0\.xml

\.idea/libraries/Gradle__com_google_android_gms_play_services_gass_11_8_0\.xml

\.idea/libraries/Gradle__com_google_android_gms_play_services_gass_license_11_8_0\.xml

\.idea/libraries/Gradle__com_google_code_gson_gson_2_8_2_jar\.xml

\.idea/libraries/Gradle__com_mobpower_mobpower_ad_3_4_1\.xml

\.idea/libraries/Gradle__com_ms_monetize_sdk_s_2_1_0\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/runConfigurations\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

app/app\.iml

MyApplication\.iml

build/android-profile/profile-2018-04-27-11-08-35-648\.json

build/android-profile/profile-2018-04-27-11-08-35-648\.rawproto

build/android-profile/profile-2018-04-27-11-08-56-287\.json

build/android-profile/profile-2018-04-27-11-08-56-287\.rawproto

*.iml
